### 1)리스트
 - 파이썬의 자료구조 형태 중 하나로, 많은 양의 데이터를 하나로 묶어서 관리할 때 사용함
 - 하나의 리스트 안에 다양한 자료형을 담을 수 있다(문자열, 정수형 등 데이터를 한 공간에 넣기 가능)
 - 대괄호[]를 사용해서 생성하고, 리스트 내부의 값은 콤마(,)로 구분
 - 순서가 있는 객체들의 집합(인덱스 번호를 가진다 - 인덱싱, 슬라이싱 가능) - 0부터 시작
 - 추가, 수정, 삭제가 가능하다
 - 리스트명 = [요소1, 요소2, 요소3 ...]

In [2]:
#리스트 생성하기
list0 = [] # 빈 리스트 생성
list1 = [3,4,5,7] # 숫자형만 담기
list2 = ['my', 'name','is'] # 문자열만 담기
list3 = [3,4,'my','name'] # 숫자형, 문자열 같이담기 -> 서로 다른 자료형도 넣어줄 수 있다
list4 = [2,[2,3]] # 리스트안에 리스트넣기

In [3]:
list4

[2, [2, 3]]

In [4]:
type(list4)

list

### 리스트 인덱싱, 슬라이싱
 - 인덱싱 : 무엇인가를 '가리킨다'는 의미
     - 리스트명[인덱스번호]
 - 슬라이싱 : 무엇인가를 '잘라낸다'는 의미
     - 리스트명[시작인덱스번호 : 끝인덱스번호 + 1]

In [11]:
list5 = [10, 20, 30, 40, 50, 60, 70, 80, 90]

# 숫자 20 가져오기
print(list5[1])

# 숫자 90 가져오기
print(list5[-1])

# 숫자 10부터 50까지 가져오기
print(list5[:5])

# 숫자 50부터 90까지 가져오기
print(list5[-5:])

20
90
[10, 20, 30, 40, 50]
[50, 60, 70, 80, 90]

In [12]:
food_list = ['국밥', '삼겹살','떡볶이','광어회',['불','고','기','와','퍼']]
food_list

['국밥', '삼겹살', '떡볶이', '광어회', ['불', '고', '기', '와', '퍼']]

In [13]:
# 삼겹살 가져오기
food_list[1]

'삼겹살'

In [16]:
# ['불','고','기','와','퍼'] 가져오기
print(food_list[4])
print(food_list[-1])

['불', '고', '기', '와', '퍼']
['불', '고', '기', '와', '퍼']

In [21]:
# '와' 가져오기
temp = food_list[4]
print(temp[-2])
print(temp[3])
food_list[4][3] #food_list 4번의 3번에게 접근하겠다

와
와

'와'

In [24]:
num_list = [0,1,2,3,4,[2,5,6,8]]
# 숫자 5 가져오기
print(num_list[-1][1])
temp = num_list[-1]
print(temp[1])

5
5

In [26]:
# 리스트 연산
list6 = [1,2,3]
list6 + list6 # 문자열 + 문자열 처럼 리스트도 뒤에 붙는다.-> 빼기 연산 불가능. *도 마찬가지로 뒤에 붙음.
# 문자열 타입처럼 뒤에 이어서 붙는다
list6*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [27]:
s1 = '안녕'
s2 = '하세요'
s1 + s2
s1 * 10

'안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕'

### 리스트 함수
1. 리스트 값 추가(append)
 - 가장 뒤에 값이 하나씩 차곡차곡 추가된다!

In [28]:
list7 = [0,1,2,3,4]
list7

[0, 1, 2, 3, 4]

In [35]:
# 리스트의 제일 뒤에 숫자 5를 추가 -> append함수 사용
# 리스트명.append(값)
list7.append(5)
list7

[0, 1, 2, 3, 4, 5, 5, 5, 5, 5, 5, 5]

2. 원하는 인덱스 위치에 값을 추가(insert)

In [37]:
# 리스트명.insert(인덱스번호, 값)
list7

# 3번 인덱스에 9라는 값 추가
list7.insert(3,9)

list7

[0, 1, 2, 9, 9, 3, 4, 5, 5, 5, 5, 5, 5, 5]

In [11]:
fruits = ['사과','포도',['수박','멜론'], '오렌지']
apple = fruits[0]
melon = fruits[2][1]
orange = fruits[3]

choice_list = []
choice_list.append(apple)
choice_list.append(melon)
choice_list.append(orange)
print(choice_list)

['사과', '멜론', '오렌지']

3. 끝에 여러개 값 추가(extend)

In [46]:
# 리스트명.extend([값,값])
choice_list = []
choice_list.extend([apple,melon,orange])
choice_list

['사과', '멜론', '오렌지']

4. 리스트 값 수정
- 리스트명[인덱스번호], = 값 #새로운 값 대입

In [13]:
choice_list
#orange대신 귤 넣기
choice_list[2] = '귤'
choice_list

['사과', '멜론', '귤']

In [15]:
choice_list.append(orange)

In [16]:
choice_list

['사과', '멜론', '귤', '오렌지']

In [21]:
# 멜론, 귤 -> 3, 4로 값 수정
choice_list[1:3] = [3,4]

In [22]:
choice_list

['사과', 3, 4]

In [21]:
# 멜론, 귤 -> 1:3범위가 그냥 3으로 바뀜
choice_list[1:3] = [3]

5. 리스트 값 삭제
- 인덱스번호 활용 : del 리스트명[인덱스번호]
- 값 활용 : 리스트명.remove(값)

In [23]:
list0 = ['a','b','c','d','e']
list0

['a', 'b', 'c', 'd', 'e']

In [24]:
# del키워드 사용해서 'c'삭제
del list0[2]
list0

['a', 'b', 'd', 'e']

In [25]:
# remove함수 활용해서 'd'삭제
list0.remove('d')
list0
# del과 remove사용 시 지울 값이 없을 때 오류 내용에 차이가 있다.
# del은 없는 인덱스를 사용하려 하면 인덱스에러가 발생
# remove에서는 value에러가 발생

['a', 'b', 'e']

6. 리스트 정렬(sort)
- 리스트명.sort()

In [28]:
list1 = [4,2,30,77,100,51,44]
list1.sort() # 오름차순으로 정렬
list1

[2, 4, 30, 44, 51, 77, 100]

In [30]:
list1.sort(reverse = True) # 리버스 속성을 참으로 바꿔주면 내림차순 정렬
list1

[100, 77, 51, 44, 30, 4, 2]

7. 리스트 순서 뒤집기(reverse) #함수
- 리스트명.reverse()

In [32]:
list2 = [4,2,30,77,100,51,44]
list2.reverse() # 순서 자체를 뒤집음
list2

[44, 51, 100, 77, 30, 2, 4]

In [35]:
list2.sort() #오름차순 정렬
list2.reverse() # 정렬 후 뒤집었기 때문에 내림차순 정렬
list2

[100, 77, 51, 44, 30, 4, 2]

8. 리스트 값 위치 반환하기
- 인덱스 번호 궁금할 때 사용
- 리스트명.index(값)

In [38]:
list3 = ['a',1,'b','c']
print(list3.index(1))
print(list3.index('a'))

1
0

9. 리스트 길이(값의 개수 확인)
- len(리스트명)

In [41]:
len(list3)
#마지막인덱스번호는 3 (길이-1)

4

### 2) 튜플
- 파이썬의 자료구조 형태 중 하나로, 많은 양의 데이터를 하나로 묶어서 관리할 때 사용함
- 하나의 튜플 안에 다양한 자료형을 담을 수 있다(문자열, 정수형 등 데이터를 한 공간에 넣기 가능)
- 소괄호()를 사용해서 생성하고, 리스트 내부의 값은 콤마(,)로 구분
- 순서가 있는 객체들의 집합(인덱스 번호를 가진다 - 인덱싱, 슬라이싱 가능) - 0부터 시작
- 추가, 수정, 삭제가 불가능하다
- 튜플명 = (요소1, 요소2, 요소3 ...)

In [44]:
# 튜플 선언하기
tu0 = () # 빈 튜플 생성
tu1 = (1,2,3) # 정수형 데이터 튜플에 담기
tu2 = (1,2,'my','name')
tu3 = (1,2,(2,3),4)
tu4 = (1,2,[2,3,4])

In [48]:
type(tu4)

tuple

In [49]:
tu5 = (1,2,'a',(1,2),['파이썬',4])

In [51]:
# 'a'값 가져오기
# 인덱싱
# 튜플명[인덱스번호]
tu5[2]

'a'

In [53]:
# 2 ~ (1,2)
# 슬라이싱
# 튜플명[시작 인덱스번호 : 끝 인덱스번호 + 1]
tu5[1:4]

(2, 'a', (1, 2))

In [54]:
# 튜플에 맨 뒤에 값 5추가하기 -> 불가능
tu5.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [55]:
# 'a' -> 숫자 3으로 수정 -> 불가능
tu5[2] = [3]

TypeError: 'tuple' object does not support item assignment

In [57]:
# 튜플 값 삭제 -> 불가능
del tu5[0]

TypeError: 'tuple' object doesn't support item deletion

### 리스트와 튜플의 공통점과 차이점
- 공통점
    - 타입과 상관 없이 하나의 자료형에서 일련의 요소를 가질 수 있음
    - 요소의 순서를 관리할 수 있다(인덱싱과 슬라이싱 가능)
- 차이점
    - 리스트는 [], 튜플 ()
    - 리스트는 가변적(mutable), 튜플은 불변적(immutable)
    - 리스트는 요소가 몇 개 들어갈 지 명확하지 않을 때 사용
    - 튜플은 요소 개수를 사전에 정확하게 알고 있을 때, 값의 개수, 데이터 자체가 변하면 안될 때 사용

In [58]:
# 튜플이 사용 가능한 함수
len(tu5)

5